/* general */

* {
    box-sizing: border-box;
  }
a {
    float: left;
    padding: 20px 15px;
    font-size: 12px;
    color: #dddddd;
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background-image: url("../images/positive.png");
  }
h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #dddddd;
    color: #4aaaa5;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: Georgia, Times, "Times New Roman", serif;
}
label { 
    padding: 5px;
}
p {
    margin-bottom: 20px;
}
p:last-child {
    margin-bottom: 0;
}
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

/* main */

.main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    background: #ffffff;
    border: 1px solid #dddddd;
    resize: horizontal;
    margin: 0 0 40px;
}
#main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px);
}

/* main bio */

.bio-image{
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}

/* portfolio */

.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(74, 170, 165, 0.7);
    color: #f1f1f1; 
    width: 55%;
    transition: .5s ease;
    opacity:0;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}
.portfolio-links {
    position: relative;
    display: inline-block;
    width: 274px;
    margin: 15px;
    overflow: auto;
    padding: 20px 50px;
}
  
.portfolio-links:nth-child(even) {
    margin-right: 40px;
}
  
.portfolio-links img {
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 50%;
}
.portfolio-links:hover .overlay {
    opacity: 1;
}

/* contact */

input {
    margin: 5px;
    width: 99%;
    height: 25px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
input::placeholder {
    padding: 0 5px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}
.button {
    background: #4aaaa5;
    color: #ffffff;
    width: 100px;
    height: 30px;
    margin: 0 5px;
}
#message {
    height: 200px;
    width: 99%;
    margin: 5px;
}

/* header */

header {
    position: fixed;
    z-index: 99;
    background: #ffffff;
    border-bottom: 2px solid #dddddd;
    width: 100%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    overflow: auto;
    top: 0;
} 
nav {
  float: right;
  margin-top: 25px;
}
nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}
#name {
    float: left;
    width: auto;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
    padding-top: 0;
}

/* footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background:#666666;
    color: hsl(0, 0%, 100%);
    text-align: center;
    border-top: 8px solid #4aaaa5;
    margin: auto;
    width:100%;
    height:50px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

/* media queries */

@media screen and (max-width: 640px) {

    /* general */

    h1 {
        padding-top: 0;
        padding-bottom: 2px;
    }
    nav {
        margin-right: 30%;
        padding-bottom: 2px;
    }
    nav a {
        padding-top: 0;
        padding-bottom: 10px;
    }
    p {
        margin: 0;
        line-height: 2em;
    }

    /* main section */

    .main-section {
        font-size: 12px;
        margin-top: 40px;
        padding: 5px 15px;
        margin-bottom: 100px;
    }

    /* main bio */

    .bio-image {
        float: none;
        margin: auto;
        margin-left: 30%;
    }

    /* contact */

    .button {
        margin-bottom: 10px;
    }
    
    /* portfolio */

    .portfolio-links {
        margin-left: 10%;
        width: 100%;
    }
    .portfolio-links img {
        width: 320px;
        height: 320px;
        display: block;
        border-radius: 50%;
    }

    /* header */

    header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        width: 100%;
    }
    #name {
        width: 100%;
        margin-left: 0;
    }
}
@media (min-width: 641px) and (max-width: 768px) {

    /* general */

    h1 {
        padding-top: 0;
    }
    p {
        line-height: 2em;
    } 

    /* main section */

    .main-section {
        padding: 0 20px 20px 20px;
        margin-bottom: 15%;
        font-size: 12px;
    }
     
    /* header */

    header {
        height: 80px;
    }
    nav {
        margin: 20px;
    }
    #name {
        width: auto;
        text-align: center;
        padding-top: 0;
    }

    /* contact */

    input {
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media (min-width: 769px) and (max-width: 980px) {

    /* general */

    p {
        line-height: 2em;
    } 

    /* main section */

    .main-section {
        font-size: 13px;
        margin-bottom: 15%;
        width: 685px;
        resize: vertical;
        margin-left: 5%;
    }

    /* main bio */

    .bio-image{
        width: 150px;
        height: auto;
        margin-top: 10px;
        margin-right: 25px;
    }

    /* header */

    header {
        height: 75px;
    }
    nav {
        margin: 20px;
    }
    #name {
        width: auto;
        padding-top: 0;
    }
}
  